.Background1 {
    text-align: center;
}

.Background2 {
    background-image: linear-gradient(163deg, rgba(0, 255, 117, .3), rgba(55, 0, 255, .3));
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    position: fixed;
}

.Logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
    min-width: 175px;
    min-height: 100px;
    content:url('../img/CSBETSDOTCOM.png');
}

.Container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    /* background: black; */
}

.GameCard {
    position: relative;
    width: 30rem;
	height: 230px;
    background-image: linear-gradient(163deg, rgba(0, 255, 117, 1), rgba(55, 0, 255, 1));
    color: white;
    border-radius: 20px;
    float: left;
    transition: all .2s;
}

.GameCard:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
    color: white;
}

.GameCard2 {
    position: relative;
    width: 100%;
	height: 100%;
    background: #1a1a1a;
	border-radius: 15px;
	transition: all .1s;
}

.GameCard2:hover {
    border-radius: 1rem;
    transform: scale(.98);

    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
    color: white;
    /* content: url('../img/image.png'); */
}

