.Rwheel {
    display: flex;
    justify-content: center;
}

.resultContainer {
    display: flex;
    justify-content: center;
    color: white;
    font-size: large;
}

.spinContainer {
    display: flex;
    justify-content: center;
}

.betContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 10%;
    width: 100%;
}

.spinBtn {
    background-color: rgb(15, 15, 19);
    padding: 5px 15px 5px 15px;
    font-size: xx-large;
    color: white;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 10px;
    position: relative;
}

.colorCol {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
    justify-content: center;
}

.col {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 10px;
    height: 4rem;
}

.betAmount {
    color: white;
    font-size: large;
    position: relative;
}

.betInput {
    background: #6a6a6a;;
    margin: .5rem;
    border-radius: 5px; 
}

.betInput::-webkit-inner-spin-button,
.betInput::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.redBet {
    background-color: rgb(255, 0, 0);
    color: white;
    width: 5rem;
    border-radius: 5px;
    margin: auto;   
}

.greenBet {
    background-color: green;
    color: white;
    margin: auto;
    width: 5rem;
    border-radius: 5px;
}

.blackBet {
    background-color: black;
    color: white;
    margin: auto;
    width: 5rem;
    border-radius: 5px;
}

button:disabled {
    background-color: gray;
    color: rgba(255, 255, 255, 0.199);
}